@media only screen and (max-width: 583px){

body {
    background-color: green;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    text-align: center;
}

.square1 {
    position: static;
    top: 9%;
    left: 11%;
    width: 175px;
    height: 175px;
    transform: translate(180px,35px) rotate(45deg);
    border-style: solid;
    background-color: red;
}
    
.square2 {
    position: static;
    top: 27%;
    left: 0%;
    width: 175px;
    height: 175px;
    transform: translate(40px,35px) rotate(45deg);
    border-style: solid;
    background-color: red;
}
    
.rectangle1 {
    position: relative;
    top: 50%;
    left: 0%;
    width: 150px;
    height: 20px;
    transform: translate(25px,130px);
    border-style: solid;
    background-color: blue;
}
    
.rectangle2 {
    position: relative;
    top: 52%;
    left: 0%;
    width: 150px;
    height: 20px;
    transform: translate(25px,170px);
    border-style: solid;
    background-color: blue;
}
    
.rectangleAbc {
    position: static;
    top: 70%;
    left: 5%;
    width: 250px;
    height: 500px;
    border-style: solid;
    transform: translate(55px, 100px);
    background-color: purple;
}

.rectangle-head {
    width: 100%;
    height: 80px;
    border-style: solid;
    background-color: olive;
}
    
.circle {
    position: relative;
    top: 54%;
    left: 0%;
    width: 100px;
    height: 100px;
    border-style: solid;
    transform: translate(200px, 80px);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: teal;
}

* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

}

@media only screen and (min-width: 583px){

    body {
        background-color: green;
    }
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 45px;
        text-align: center;
    }
    
    .square1 {
        position: static;
        left: 5%;
        top: 0%;
        width: 175px;
        height: 175px;
        transform: translate(180px,35px) rotate(45deg);
        border-style: solid;
        background-color: red;
    }
        
    .square2 {
        position: static;
        left: 0%;
        top: 32%;
        width: 175px;
        height: 175px;
        transform: translate(40px,35px) rotate(45deg);
        border-style: solid;
        background-color: red;
    }
        
    .rectangle1 {
        position: initial;
        top: 50%;
        left: 0%;
        width: 150px;
        height: 20px;
        transform: translate(25px,130px);
        border-style: solid;
        background-color: blue;
    }
        
    .rectangle2 {
        position: initial;
        top: 52%;
        left: 0%;
        width: 150px;
        height: 20px;
        transform: translate(25px,170px);
        border-style: solid;
        background-color: blue;
    }
        
    .rectangleAbc {
        position: static;
        float: right;
        top: auto;
        width: 200px;
        height: 500px;
        border-style: solid;
        background-color: pink;
    }
    
    .rectangle-head {
        width: 100%;
        height: 80px;
        border-style: solid;
        background-color: olive;
    }
        
    .circle {
        position: initial;
        width: 100px;
        height: 100px;
        transform: translate(250px,82px);
        border-style: solid;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background: teal;
    }
    
    * {
        box-sizing: border-box;
    }
    
    * {
        box-sizing: border-box;
    }
    
    }

    @media only screen and (min-width: 900px){

        body {
            background-color: green;
        }
        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 45px;
            text-align: center;
        }
        
        .square1 {
            position: relative;
            left: 5%;
            top: 0%;
            width: 150px;
            height: 150px;
            transform: translate(180px,35px) rotate(45deg);
            border-style: solid;
            background-color: red;
        }
            
        .square2 {
            position: relative;
            left: 0%;
            top: 32%;
            width: 150px;
            height: 150px;
            transform: translate(40px,35px) rotate(45deg);
            border-style: solid;
            background-color: red;
        }
            
        .rectangle1 {
            width: 150px;
            height: 20px;
            transform: translate(400px,0px);
            border-style: solid;
            background-color: blue;
        }
            
        .rectangle2 {
            width: 150px;
            height: 20px;
            transform: translate(400px,20px);
            border-style: solid;
            background-color: blue;
        }
            
        .rectangleAbc {
            position: fixed;
            left: 78%;
            top: 15%;
            width: 300px;
            height: 600px;
            transform: translate(-10px,0px);
            border-style: solid;
            float: right;
            background-color: white;
        }
        
        .rectangle-head {
            width: 100%;
            height: 80px;
            border-style: solid;
            background-color: olive;
        }
            
        .circle {
            position: initial;
            width: 100px;
            height: 100px;
            transform: translate(250px,82px);
            border-style: solid;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            background: teal;
        }
        
        * {
            box-sizing: border-box;
        }
        
        * {
            box-sizing: border-box;
        }
        
        }